SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=admin

ORIGINS=["http://localhost:8080"]

POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chatdb

HOST=0.0.0.0
PORT=8000

SECRET_KEY=your-secret-key-change-this-in-production
ENVIRONMENT=development

AWS_REGION_NAME=""
